<!-- app/views/users/_info.html.erb -->

<table class="table">
  <tr>
    <td>
      <%= image_tag user.get_profile_image, size: "100x100", class: "rounded-circle" %>
    </td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>Introduction</th>
    <td>
      <%= user.introduction.presence || "未登録" %>
    </td>
  </tr>
  <tr>
    <th>
      <div class>
        <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary w-100" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    </th>
  </tr>
  <tr>
    <th>Follows</th>
    <td>
      <%= link_to user.followings.count, user_followings_path(user), class: "btn btn-link p-0" %>
    </td>
  </tr>
  <tr>
    <th>Followers</th>
    <td>
      <%= link_to user.followers.count, user_followers_path(user), class: "btn btn-link p-0" %>
    </td>
  </tr>
</table>